@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);
* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
  width: 80%;
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 1;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 34px;
}

#logo img {
  width: 33%;
  height: auto;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
  padding-top: 32px;
}
.menu ul li {
  display: inline;
  margin-right: 4px;
  font-weight: bold;
}
.n {
  margin-left: 35px;
}
.clearfix {
  clear: both;
  float: none;
}
.menu {
  line-height: 60px;
}
a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}
.menu li a:hover {
  background-color: white;
  color: #ff6b81;
  font-weight: 700;
  transition: all ease 0.4s;
}
.food-search {
  background-image: url(img/bc.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7% 0;
  background-position: center;
  height: 10.5cm;
}
.forms {
  justify-content: center;
  padding-top: 10%;
}
.food-search input[type="search"] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}
.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #ff4757;
  color: white;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
  padding-top: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 45px;
  left: 26%;
}
.text-white {
  color: white;
}
.categories {
  padding: 4% 0;
}
.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}
.box-3 img {
  height: 400px;
}
.food-menu {
  background-color: #ececec;
  padding: 4%;
  height: 25cm;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}
.food-menu-img {
  width: 30%;
  float: left;
  padding-top: 20px;
}
.food-menu-desc {
  width: 70%;
  float: left;
  padding-top: 25px;
}
.food-price {
  font-size: 1.2rem;
  margin: 25 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}
.social {
  background-color: black;
}
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
  padding: 1%;
}

.footer {
  background-color: black;
}
.k {
  color: white;
}
/*smaller screen*/

@media only screen and(max-width:768px) {
  .logo {
    width: 100%;
    float: none;
    margin: 1% auto;
  }
  .menu ul {
    text-align: center;
  }
  .food-search input[type="search"] {
    width: 90%;
    padding: 2%;
    margin-bottom: 5%;
  }
  .btn {
    width: 91%;
    padding: 2%;
  }
  .food-search {
    padding: 10% 0;
  }
  .categories {
    padding: 20% 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 90%;
    margin: 4% auto;
  }

  .social {
    padding: 5% 0;
  }
}

.neha {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "satisfy", cursive;
}
.neha {
  position: relative;
  width: 100%;
  height: 13cm;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.neha h4 {
  color: #ffffff;
  font-size: 2rem;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: "satisfy", cursive;
}

.neha video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moral {
  width: 100%;
  height: 17.1cm;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373b44;
  background-image: url(img/temp.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}
.font {
  color: black;
}
.head {
  background-color: blanchedalmond;
  width: 12cm;
  font-family: "satisfy", cursive;
  margin-top: 1cm;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.request {
  background-color: blanchedalmond;
  width: 15cm;
  font-family: "satisfy", cursive;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 1cm;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#services {
  margin: 34px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #ececec;
  margin-bottom: 20px;
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}

#services .box p {
  font-family: "Bree Serif", serif;
}

/* Clients Section */
#client-section {
  position: relative;
}

#client-section::before {
  content: "";
  position: absolute;
  background-color: #ececec;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  padding: 34px;
}

#clients img {
  height: 124px;
}

/* Contact Section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background-color: cadetblue;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}
