#services {
  flex-direction: column;
}

#clients {
  overflow: hidden;
}
#navbar {
  flex-direction: column;
}
#logo img {
  width: 20%;
  padding-left: 30%;
}
#navbar ul li {
  font-size: 1rem;
}
#search {
  height: 9.5cm;
}
#cat {
  justify-content: center;
  padding-top: 20%;
}
#con1 {
  flex-direction: column;
}
#lists {
  height: 22cm;
  padding: 1%;
}
.food-menu {
  padding: 20% 0;
}
.food-menu-box {
  width: 90%;
  padding: 5%;
  margin-bottom: 5%;
}
#services {
  flex-direction: column;
  padding-right: 2px;
}

#services .box {
  padding: 10px;
  margin: 2px 0px;
  margin-bottom: 20px;
  padding-right: 10px;
}

/* Clients section */
#clients {
  flex-wrap: wrap;
}

#clients img {
  width: 90px;
  padding: 6px;
}

/* Contact us section */
#contact-box form {
  width: 80%;
}

.float-text {
  position: absolute;
  bottom: 45px;
  left: 20%;
  font-size: 1rem;
  align-content: center;
}
.categories {
  padding: 4% 0;
}
.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}
.box-3 img {
  height: 300px;
}
