body {
  width: 100%;
}
#if2 {
  font-size: 1.4rem;
  width: 5cm;
  margin-top: 0.3cmcm;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#v1 {
  width: 150px;
  height: 150px;
}
#if {
  width: 7cm;

  font-weight: lighter;
  font-size: 0.8rem;
  margin-top: 1cm;
  padding-top: 2px;
  padding: bottom 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#keep {
  font-size: 1rem;
}
#cake {
  width: 100px;
  height: 50px;
}
#dwd {
  font-size: 1rem;
  font-weight: bolder;
}
#info {
  font-size: 0.6rem;
}
#same {
  width: 8cm;
  margin: 0.2%;
  padding: 2px;
  margin-bottom: 0.5cm;
  border-radius: 5px;
}
#xx {
  font-size: 1.2rem;
}
#yy {
  font-size: 0.9rem;
  font-weight: bolder;
}
#zz {
  font-size: 0.6rem;
}
#pie {
  width: 2cm;
}
#heyy {
  font-size: 0.6rem;
}
#heyy1 {
  width: 0.5cm;
  height: 0.5cm;
}
#heyy1:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.4);
}
#contact-box form {
  padding: 0.2%;
}
#cat {
  padding-top: 45%;
}

#pp {
  flex-direction: column;
}
#serve {
  height: 4cm;
}
#serve2 {
  font-size: 0.6rem;
  align-content: center;
  bottom: 20px;
}
#rr {
  font-size: 0.3rem;
}
#cc {
  font-size: 0.3rem;
}
